{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
